<div>
    <form method="POST" action="" id="hospital-form">
        {% csrf_token %}
        <div>
            District Name:
            {{form.districtName}}<br><br>
        </div>
        <div>
            Mandal Name:
            {{form.mandalName}}<br><br>
        </div>
        <div>
            City Name:
            {{form.cityName}}<br><br>
        </div>
        <div>
            Treatement Type:
            {{form.treatmentName}}
        </div>
        <input type="submit" value="Submit" \>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_districtName").change(function () {
        //const url = $("#hospital-form").attr("{% url 'ajax-load-mandals' %}");
        const districtId = $(this).val();
        $.ajax({
            url: "{% url 'ajax-load-mandals' %}",
            data: {
                'districtId': districtId
            },
            success: function (data) {
                $("#id_mandalName").html(data);
            }
        });
    });
    $("#id_mandalName").change(function () {
        //const url = $("#hospital-form").attr("{% url 'ajax-load-cities' %}");
        const mandalId = $(this).val();
        $.ajax({
            url: "{% url 'ajax-load-cities' %}",
            data: {
                'mandalId': mandalId
            },
            success: function (data) {
                $("#id_cityName").html(data);
            }
        });
    });
</script>